%table.template-container{ cellspacing: '0', cellpadding: '0', align: 'center' }
  %tbody
    %tr
      %td.header-container{ valign:'top' }
        %table.image-block{ cellspacing: '0', cellpadding: '0' }
          %tbody.image-block-outer
            %tr
              %td.image-block-inner{ valign: 'top' }
                %table.image-content-container{ cellspacing: '0', cellpadding: '0', align: 'left' }
                  %tbody
                    %tr
                      %td.image-content{ valign: 'top' }
                        = image_tag('shf-mailheader-pupImage.jpg', alt: 'Sveriges Hundföretagare',  align: 'left', width: '400px')
