%table.template-container{ cellspacing: '0', cellpadding: '0', align: 'center' }
  %tbody
    %tr
      %td.preheader-container{ valign: 'top' }

        %table.text-block{ cellspacing: '0', cellpadding: '0' }
          %tbody.text-block-outer
            %tr
              %td.text-block-inner{ valign: 'top' }
                %table.text-content-container{ cellspacing: '0', cellpadding: '0', align: 'left' }
                  %tbody
                    %tr
                      %td.text-content{ valign: 'top' }
