-# The following are optional local variables:
-#  signoff   (default = t('mailers.application_mailer.signoff') )
-#  signature      (default = t('mailers.application_mailer.signature'))
-#
- signoff = local_assigns.fetch :signoff, t('mailers.application_mailer.signoff')
- signature =local_assigns.fetch :signature, t('mailers.application_mailer.signature')
#signoff
  %p.signoff= signoff

  #signature
    %p.signature= signature
    %p.signature_url= t('SHF_name')
