-# The following are optional local variables:
-# signoff_text   (default = t('mailers.application_mailer.signoff') )
-# signature      (default = t('mailers.application_mailer.signature'))
-#
- signoff = local_assigns.fetch :signoff, t('mailers.application_mailer.signoff')
- signature = local_assigns.fetch :signature, t('mailers.application_mailer.signature')
= signoff
\
= signature
= t('SHF_name')
