%header.entry-header
  %h1.entry-title= "Alla inkomna ansökningar"
.post-title-divider
  %span
.entry-content
  - @membership_applications.each do | info |
    .list-item.companies= link_to info.company_name, membership_path(info.id)
