# The system expects the following variables (keys) and values to be set
# in the operating system environment or in a .env file.
#
# This file is an *example* to show you the variables that are expected.
# The deployment keys and values MUST be in a file named '.env'  (See below)
#
# Contact the project admin to get the real values.
#
# DO NOT EVER COMMIT THE .env FILE TO GitHub OR ANY OTHER REPOSITIORY.
#  YOUR .gitignore SHOULD INCLUDE .env SO THIS NEVER HAPPENS.


# -----------------------------------
# Keys and values used by the system:
# -----------------------------------
#
#  These must be defined as environment variables in your operating system.

# You must have a valid Google API key.  (Contact the project admin for the
#  key for this project.)
GOOGLE_MAP_API=1234567890

SHF_ADMIN_PWD='hello'
SHF_ADMIN_EMAIL='hello@example.com'

MAILGUN_API_KEY=app-account-key
MAILGUN_DOMAIN=app-email-domain


# ----------------------------------------
# Keys and values required for deployment:
# ----------------------------------------
#
# You must have a file named '.env' with these keys and values set.
# The Capistrano scripts use the 'dotenv' gem to read them from a .env file.
#
# You should make a copy of this file and name it '.env' and
# replace the values below with the real values needed.
#
#  (If you are not deploying to the production server, you do not need worry
#   about the real values for these.)

PRODUCTION_SERVER=xxx.xxx.xxx.xxx
DEPLOY_USER=some_user
APP_PATH=/path/to/app
BRANCH=vcs_branch
