---
http_interactions:
- request:
    method: post
    uri: https://api.playground.klarna.com/checkout/v3/orders/
    body:
      encoding: UTF-8
      string: '{"locale":"sv-se","options":{"color_button":"#003a78","color_button_text":"#ffffff","color_header":"#232525","allowed_customer_types":["person","organization"]},"attachment":{"body":"{\"customer_account_info\":[{\"unique_account_identifier\":\"1\"}]}","content_type":"application/vnd.klarna.internal.emd-v2+json"},"purchase_country":"SE","purchase_currency":"SEK","order_amount":30000,"order_tax_amount":0,"merchant_reference1":"1","merchant_reference2":"1","order_lines":[{"type":"digital","name":"Medlemsavgift","quantity":1,"unit_price":30000,"tax_rate":0,"total_amount":30000,"total_tax_amount":0}],"merchant_urls":{"terms":"https://sverigeshundforetagare.se/aterbetalningsvillkor/","checkout":"https://b8c2-24-91-59-172.ngrok.io/anvandare/1/betalning/member_fee","confirmation":"https://b8c2-24-91-59-172.ngrok.io/anvandare/1/betalning/''{checkout.order.id}''","push":"https://b8c2-24-91-59-172.ngrok.io/anvandare/betalning/klarna_push?id=1\u0026klarna_id=''{checkout.order.id}''"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UEszNzUyOV85Mzk3ZDI0NWYxOTI6b1FEWnR3WWxKSXFWUmkxUg==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Klarna-Correlation-Id:
      - 14b12f2b-6893-42b2-ad38-51a7b7fead55
      Location:
      - https://api.playground.klarna.com/checkout/v3/orders/d9ab01f8-e48d-6ad1-8036-0a2f3d27aa57
      Render-Time:
      - '9'
    body:
      encoding: UTF-8
      string: '{"order_id":"d9ab01f8-e48d-6ad1-8036-0a2f3d27aa57","status":"checkout_incomplete","purchase_country":"se","purchase_currency":"SEK","locale":"sv-SE","billing_address":{"country":"se"},"customer":{"type":"person"},"shipping_address":{"country":"se"},"order_amount":30000,"order_tax_amount":0,"order_lines":[{"type":"digital","name":"Medlemsavgift","quantity":1,"unit_price":30000,"tax_rate":0,"total_amount":30000,"total_discount_amount":0,"total_tax_amount":0}],"merchant_urls":{"terms":"https://sverigeshundforetagare.se/aterbetalningsvillkor/","checkout":"https://b8c2-24-91-59-172.ngrok.io/anvandare/1/betalning/member_fee","confirmation":"https://b8c2-24-91-59-172.ngrok.io/anvandare/1/betalning/''{checkout.order.id}''","push":"https://b8c2-24-91-59-172.ngrok.io/anvandare/betalning/klarna_push?id=1&klarna_id=''{checkout.order.id}''"},"merchant_reference1":"1","merchant_reference2":"1","html_snippet":"<div
        id=\"klarna-checkout-container\" style=\"overflow: hidden;\">\n  <div id=\"klarna-unsupported-page\">\n  <style
        type=\"text/css\">\n  @-webkit-keyframes klarnaFadeIn{from{opacity:0}to{opacity:1}}@-moz-keyframes
        klarnaFadeIn{from{opacity:0}to{opacity:1}}@keyframes klarnaFadeIn{from{opacity:0}to{opacity:1}}#klarna-unsupported-page{opacity:0;opacity:1\\9;-webkit-animation:klarnaFadeIn
        ease-in 1;-moz-animation:klarnaFadeIn ease-in 1;animation:klarnaFadeIn ease-in
        1;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;a[...]
- request:
    method: get
    uri: https://api.playground.klarna.com/checkout/v3/orders/d9ab01f8-e48d-6ad1-8036-0a2f3d27aa57
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UEszNzUyOV85Mzk3ZDI0NWYxOTI6aW52YWxpZA==
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html
      Www-Authenticate:
      - Basic realm="very closed site"
      Klarna-Correlation-Id:
      - 330748f7-7a7f-4936-b66f-2f5565d09c2d
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>401 Authorization Required</title></head>\r\n<body>\r\n<center><h1>401
        Authorization Required</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Wed, 27 Oct 2021 10:55:21 GMT
recorded_with: VCR 6.0.0
