---
http_interactions:
- request:
    method: post
    uri: https://api.playground.klarna.com/checkout/v3/orders/
    body:
      encoding: UTF-8
      string: '{"locale":"sv-se","options":{"color_button":"#003a78","color_button_text":"#ffffff","color_header":"#232525","allowed_customer_types":["person","organization"]},"attachment":{"body":"{\"customer_account_info\":[{\"unique_account_identifier\":\"1\"}]}","content_type":"application/vnd.klarna.internal.emd-v2+json"},"purchase_country":"SE","purchase_currency":"SEK","order_amount":30000,"order_tax_amount":0,"merchant_reference1":"1","merchant_reference2":"1","order_lines":[{"type":"digital","name":"Medlemsavgift","quantity":1,"unit_price":30000,"tax_rate":0,"total_amount":30000,"total_tax_amount":0}],"merchant_urls":{"terms":"https://sverigeshundforetagare.se/aterbetalningsvillkor/","checkout":"https://b8c2-24-91-59-172.ngrok.io/anvandare/1/betalning/member_fee","confirmation":"https://b8c2-24-91-59-172.ngrok.io/anvandare/1/betalning/''{checkout.order.id}''","push":"https://b8c2-24-91-59-172.ngrok.io/anvandare/betalning/klarna_push?id=1\u0026klarna_id=''{checkout.order.id}''"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UEszNzUyOV85Mzk3ZDI0NWYxOTI6b1FEWnR3WWxKSXFWUmkxUg==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Klarna-Correlation-Id:
      - 48ca9286-6311-4168-ab03-9757c6641c29
      Location:
      - https://api.playground.klarna.com/checkout/v3/orders/88c9361b-820a-6464-9511-641be11d1275
      Render-Time:
      - '15'
    body:
      encoding: UTF-8
      string: '{"order_id":"88c9361b-820a-6464-9511-641be11d1275","status":"checkout_incomplete","purchase_country":"se","purchase_currency":"SEK","locale":"sv-SE","billing_address":{"country":"se"},"customer":{"type":"person"},"shipping_address":{"country":"se"},"order_amount":30000,"order_tax_amount":0,"order_lines":[{"type":"digital","name":"Medlemsavgift","quantity":1,"unit_price":30000,"tax_rate":0,"total_amount":30000,"total_discount_amount":0,"total_tax_amount":0}],"merchant_urls":{"terms":"https://sverigeshundforetagare.se/aterbetalningsvillkor/","checkout":"https://b8c2-24-91-59-172.ngrok.io/anvandare/1/betalning/member_fee","confirmation":"https://b8c2-24-91-59-172.ngrok.io/anvandare/1/betalning/''{checkout.order.id}''","push":"https://b8c2-24-91-59-172.ngrok.io/anvandare/betalning/klarna_push?id=1&klarna_id=''{checkout.order.id}''"},"merchant_reference1":"1","merchant_reference2":"1","html_snippet":"<div
        id=\"klarna-checkout-container\" style=\"overflow: hidden;\">\n  <div id=\"klarna-unsupported-page\">\n  <style
        type=\"text/css\">\n  @-webkit-keyframes klarnaFadeIn{from{opacity:0}to{opacity:1}}@-moz-keyframes
        klarnaFadeIn{from{opacity:0}to{opacity:1}}@keyframes klarnaFadeIn{from{opacity:0}to{opacity:1}}#klarna-unsupported-page{opacity:0;opacity:1\\9;-webkit-animation:klarnaFadeIn
        ease-in 1;-moz-animation:klarnaFadeIn ease-in 1;animation:klarnaFadeIn ease-in
        1;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;a[...]
- request:
    method: get
    uri: https://api.playground.klarna.com/checkout/v3/orders/88c9361b-820a-6464-9511-641be11d1275
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UEszNzUyOV85Mzk3ZDI0NWYxOTI6b1FEWnR3WWxKSXFWUmkxUg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Klarna-Correlation-Id:
      - ccb25258-57ce-4b9e-964f[...]
