.post-category
  %ul.post-categories
    - categories.each do | category |

      :ruby
        if current_user.admin?
          name = link_to(category.name, business_category_path(category))
        else
          name = category.name
        end

      %li= name
