%header.entry-header
  %h1.entry-title= t('.title', category_name: @business_category.name)
.entry-content
  = render 'form'
  %hr
  .text-center
    = link_to t('back'), business_categories_path, class: 'btn btn-sm btn-light'
