%header.entry-header
  %h1.entry-title= t('.title', category_name: @business_category.name)
.post-title-divider
  %span
.entry-content.wpcf7
  = render 'form'
.center
  = link_to t('back'), business_categories_path
