%header.entry-header
  %h1.entry-title= 'Redigerar: ' "#{@business_category.name}"
.post-title-divider
  %span
.entry-content.wpcf7
  = render 'form'
.center
  = link_to 'Tillbaks', business_categories_path
