%header.entry-header
  = content_title(t('.title'), user: current_user)
.entry-content
  = render 'form'
  %hr
  .text-center
    = link_to t('business_categories.all_business_categories'), business_categories_path, class: 'btn btn-sm btn-light'
