%header.entry-header
  %h1.entry-title= t('.title')
.post-title-divider
  %span
.entry-content.wpcf7
  = render 'form'
.center
  = link_to t('business_categories.all_business_categories'), business_categories_path
