-# Display the description of the root of the user_checklist
    This partial expects these locals (required):
      user_checklist [UserChecklist] - the UserChecklist that is used

-#%p.description= local_assigns[:user_checklist].root.description
-# Do not display this for now.  Will display this later. (Uncomment out the statement above and remove these comments)
    See PT story https://www.pivotaltracker.com/story/show/172961791
