-# This partial shows the account link for a member and the text explaining
-# that they may need to log in to see it.
-#
-# The partial expects the local
-# member - the member whose account this will link to
-#
= t('mailers.member_mailer.member_account_link', account_link: member_account_link(member)).html_safe
