%footer.post-footer
  .post-social.no-gutter.col-xs-12
    .social-share
      %a.share-facebook{href: 'http://www.facebook.com/sharer.php?u=http://sverigeshundforetagare.se/om-sveriges-hundforetagare/&t=Om%20Sveriges%20Hundf%C3%B6retagare', target: '_blank'}
        %i.fa.fa-facebook
      %a.share-twitter{href: 'http://twitter.com/home/?status=Om%20Sveriges%20Hundf%C3%B6retagare%20-%20http://sverigeshundforetagare.se/om-sveriges-hundforetagare/', target: '_blank'}
        %i.fa.fa-twitter
      %a.share-googleplus{href: 'https://plus.google.com/share?url=http://sverigeshundforetagare.se/om-sveriges-hundforetagare/', target: '_blank'}
        %i.fa.fa-google-plus
      %a.share-linkedin{href: 'http://www.linkedin.com/shareArticle?mini=true&title=Om%20Sveriges%20Hundf%C3%B6retagare&url=http://sverigeshundforetagare.se/om-sveriges-hundforetagare/', target: '_blank'}
        %i.fa.fa-linkedin
      %a.share-mail{href: 'mailto:?subject=Om%20Sveriges%20Hundf%C3%B6retagare&body=http://sverigeshundforetagare.se/om-sveriges-hundforetagare/'}
        %i.fa.fa-envelope-o