= render 'partials/navigation'
- unless current_user.try(:admin)
  #site-logo
    %a{ href: 'http://sverigeshundforetagare.se/' }
      %img{ alt: 'logo', src: 'http://media.sverigeshundforetagare.se/2016/10/SH_logo_RGB.png' }
- else
  #site-logo
    %p.admin
      Du är inloggad som admin