= form_for @membership_application, url: membership_application_path do |f|
  = f.select(:status, [['Ny', 'Pending'],
                       ['Behandlas', 'Started'],
                       ['Inväntar betalning', 'Pending Payment'],
                       ['Inväntar komplettering', 'Pending Information'],
                       ['Godkänd', 'Accepted'],
                       ['Avböjd', 'Rejected']])
  = f.submit 'Update', class: 'wpcf7-submit'