#ready-for-review
  %p.header
    = "#{t('membership_applications.show.ready_for_review_instructions')}:"

  = f.label :marked_ready_for_review_label, t('membership_applications.edit.is_ready_for_review')
  = f.check_box  :marked_ready_for_review, {class: 'checkbox ready-for-review'}
