%header.entry-header
  %h1.entry-title Alla inkomna ansökningar
.post-title-divider
  %span
.entry-content
  %table
    %thead
      %tr
        %th Namn
        %th Org nr
        %th Status
        %th
    %tbody
      - @membership_applications.each do | membership_application |
        %tr.companies
          %td= member_full_name
          %td= membership_application.company_number
          %td= membership_application.status
          %td= link_to 'Manage', membership_application_path(membership_application.id)