- if current_user.is_member == true
  %header.entry-header
    %h1.entry-title Såhär annonserar du ditt medlemsskap
  .post-title-divider
    %span
  .entry-content


- else
  %header.entry-header
    %h1.entry-title Såhär ansöker du om medlemsskap
  .post-title-divider
    %span
  .entry-content
