%header.entry-header
  %h1.entry-title Om medlemsskap
  .post-title-divider
    %span
.entry-content
  - if current_user.is_member?
    %h2
      Välkommen
      = current_user.membership_application.first_name
    %p
      Det är viktigt att vi alla följer vår grafiska profil, att loggan
      nyttjas på ett enhetligt sätt och inga egna versioner skapas av er
      medlemmar. Detta för att skapa igenkänning, tydlighet gentemot kund.
      Och skydda oss mot förfalskningar av H-märket.
    %p
      Vi önskar att ni lägger upp nedanstående bild på era hemsidor.
      Samt länkar denna bild till: http://www.sverigeshundforetagare.se
    = image_tag('medlem.png')
    %p
    %p
      Vi önskar även att ni pryder er hemsida med H-märket. För att visa
      att ni just H-märkta med allt vad det innebär. Bilden nedan nyttjas i
      detta syfte och länkas till:
      "http://sverigeshundforetagare.se/agare/h-markt-av-sveriges-hundforetagare/"
    = image_tag('h-marke.png')
  - else
    %h2
      Hej, kul att du är intresserad
    %p
      För att skicka in din medlemsansökan går du
      = link_to 'hit', new_membership_application_path
      och fyller i alla nödvändiga uppgifter, markerar vilken eller vilka
      kategorier du vill ansöka om medlemskap i.
    %p
      När din ansökan är inskickat hamnar den hos oss för behandling, detta
      tar en stund, så var inte orolig om du inte hör något från oss.
    %p
      När din ansökan sedan är godkänd får du ett mail, med en länk till
      att skapa din företagssida här.
