%header.entry-header
  %h1.entry-title Ansök om medlemskap
.post-title-divider
  %span
.entry-content.wpcf7
  = form_for @membership_application, url: membership_applications_path do |f|
    - if @membership_application.errors.any?
      - @membership_application.errors.full_messages.each do |msg|
        .wpcf7-response-output
          = msg
    = render partial: 'membership_application_fields', locals: {f: f}
    %span.req
      %p Indicates a required field
