%ul.image-actions-custom-menu
  %li{ "data-action" => "download" }= t('users.show_member_images_row_cols.download_image')
  %li{ "data-action" => "link" }= t('users.show_member_images_row_cols.copy_image_url')
  %li{ "data-action" => "show" }= t('users.show_member_images_row_cols.show_image')
