-# This partial shows the login email for a user in a .row and then .col
-#
-# The partial expects these locals:
-#   user - the user that this information is for
-#
.login-name
  .row
    .col
      = field_or_none("#{ t('.email') }", mail_to(user.email),
      value_class: 'login-email')
