:ruby
  # This partial shows a button to upload a file or, if there are already files uploaded, upload another file
  #
  # The partial expects these locals:
  #   user - the user (member) that this information is for
  #   text - text to display on the button
  #
- btn_text = local_assigns.fetch(:text, t('users.uploaded_files_requirement.upload_file'))
= link_to btn_text,
          user_new_uploaded_file_path(user_id: user.id, from_acct_pg: true),
          class: 'btn btn-sm btn-light new-uploaded-file-button'
