---
http_interactions:
- request:
    method: post
    uri: https://api.playground.klarna.com/ordermanagement/v1/orders/not_a_valid_ID/captures
    body:
      encoding: UTF-8
      string: '{"captured_amount":30000}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UEszNzUyOV85Mzk3ZDI0NWYxOTI6b1FEWnR3WWxKSXFWUmkxUg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Klarna-Correlation-Id:
      - c02a03aa-4602-4236-968c-d7e49263f595
    body:
      encoding: UTF-8
      string: '{"error_code":"INVALID_ORDER_ID","error_messages":["Order ID must be
        a valid UUID."],"correlation_id":"c02a03aa-4602-4236-968c-d7e49263f595"}'
  recorded_at: Sun, 03 Oct 2021 11:58:28 GMT
recorded_with: VCR 6.0.0
