---
http_interactions:
- request:
    method: post
    uri: https://api.playground.klarna.com/ordermanagement/v1/orders/not_a_valid_ID/captures
    body:
      encoding: UTF-8
      string: '{"captured_amount":30000}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UEszNzUyOV85Mzk3ZDI0NWYxOTI6b1FEWnR3WWxKSXFWUmkxUg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Klarna-Correlation-Id:
      - d3b33d75-9cf1-4b1c-a23a-60fe28f5cb0c
      X-Ratelimit-Limit:
      - 3000, 3000;w=60
      X-Ratelimit-Remaining:
      - '2999'
      X-Ratelimit-Reset:
      - '43'
    body:
      encoding: UTF-8
      string: '{"error_code":"INVALID_ORDER_ID","error_messages":["Order ID must be
        a valid UUID."],"correlation_id":"d3b33d75-9cf1-4b1c-a23a-60fe28f5cb0c"}'
  recorded_at: Wed, 27 Oct 2021 10:55:17 GMT
recorded_with: VCR 6.0.0
