%header.entry-header
  %h1.entry-title Arbetsgrupper
.post-title-divider
  %span
.entry-content
  %p
    Skulle du kunna tänka dig att ingå i en arbetsgrupp i SHF där du kan göra
    punktinsatser och driva en speciell fråga och hjärtesak? Kontakta oss gärna,
    vi uppskattar allt engagemang stort som litet.
  %p
    Kontakta oss på
    = mail_to 'info@sverigshundforetagare.se'
