<h1>Styrelseprotokoll</h1>

<p><strong>2016</strong></p>

<ul>
	<li><a href="http://media.bygg.immi.nu/2016/01/2016-01-03.pdf" target="_blank">2016-01-03</a></li>
	<li><a href="http://media.bygg.immi.nu/2013/08/2016-01-21.pdf" target="_blank">2016-01-21</a></li>
	<li><a href="http://media.bygg.immi.nu/2013/08/2016-02-08.pdf" target="_blank">2016-02-08</a></li>
	<li><a href="http://media.bygg.immi.nu/2013/08/IMMI-årsmötesprotokoll-2016.docx" target="_blank">IMMI-&aring;rsm&ouml;tesprotokoll 2016-02-15</a></li>
	<li><a href="http://media.bygg.immi.nu/2013/08/Protokoll-Konstituerande-styrelsemöte-160217.pdf" target="_blank">Protokoll Konstituerande styrelsem&ouml;te 160217</a></li>
	<li><a href="http://media.bygg.immi.nu/2013/08/2016-04-17.docx" target="_blank">2016-04-17</a></li>
	<li><a href="http://media.bygg.immi.nu/2013/08/2016-05-11.docx" target="_blank">2016-05-11</a></li>
	<li><a href="http://media.bygg.immi.nu/2013/08/IMMI-Styrelsemöte2016-05-23.docx" target="_blank">2016-05-23</a></li>
	<li><a href="http://media.bygg.immi.nu/2013/08/2016-07-18.docx" target="_blank">2016-07-18</a></li>
	<li><a href="http://media.bygg.immi.nu/2013/08/2016-10-09.pdf" target="_blank">2016-10-09</a></li>
</ul>

<p><strong>2015</strong></p>

<table>
	<tbody>
		<tr>
			<td>
			<p>&nbsp;</p>

			<p><a href="http://media.bygg.immi.nu/2016/01/2015-12-30.pdf" target="_blank">20151230</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/2015-12-12.pdf" target="_blank">20151212</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/2015-11-18.pdf" target="_blank">20151118</a></p>

			<p><a href="http://media.bygg.immi.nu/2015/12/2015-11-05.pdf" target="_blank">20151105</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/2015-10-21.pdf" target="_blank">20151021</a></p>
			</td>
			<td>
			<p><a href="http://media.bygg.immi.nu/2013/08/2015-10-12.pdf" target="_blank">20151012</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/2015-08-30.pdf" target="_blank">20150830</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150626.pdf" target="_blank">20150626</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150621.pdf" target="_blank">20150621</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150524.pdf" target="_blank">20150524</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150426.pdf" target="_blank">20150426</a></p>
			</td>
			<td>
			<p><a href="http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150412.pdf" target="_blank">20150412</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150331.pdf" target="_blank">20150331</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150329.pdf" target="_blank">20150329</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150301.pdf" target="_blank">20150301</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150207.pdf" target="_blank">20150207</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150118.pdf" target="_blank">20150118</a></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><strong>2014</strong></p>

<table>
	<tbody>
		<tr>
			<td>
			<p><a href="http://media.bygg.immi.nu/2013/08/20141130.pdf" target="_blank">20141130</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/20141026.pdf" target="_blank">20141026</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/20140928.docx" target="_blank">20140928</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/20140831.pdf" target="_blank">20140831</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/20140629.pdf" target="_blank">20140629</a></p>
			</td>
			<td>
			<p><a href="http://media.bygg.immi.nu/2014/03/20140525.pdf" target="_blank">20140525</a></p>

			<p><a href="http://media.bygg.immi.nu/2014/03/20140427.pdf" target="_blank">20140427</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-140309.pdf" target="_blank">20140309</a></p>

			<p><a href="http://media.bygg.immi.nu/2014/03/20140223.pdf" target="_blank">20140223</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/20140126.pdf" target="_blank">20140126</a></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<h2>&Aring;RSM&Ouml;TESPROTOKOLL:</h2>

<h3>2015</h3>

<p><a href="http://media.bygg.immi.nu/2013/08/IMMI-årsmötesprotokoll.docx" target="_blank">Protokoll f&ouml;rt vid IMMI:s &aring;rsm&ouml;te 2015</a></p>

<p><a href="http://media.bygg.immi.nu/2013/08/Årsmötesprotokoll-150510.docx" target="_blank">Protokoll f&ouml;rt vid IMMI:s extra &aring;rsm&ouml;te maj 2015</a></p>

<h3>2014</h3>

<p><a href="http://media.bygg.immi.nu/2014/03/Protokoll-fört-vid-IMMIs-årsmöte-2014.pdf" target="_blank">Protokoll f&ouml;rt vid IMMIs &aring;rsm&ouml;te 2014</a></p>

<h3>2013</h3>

<p><a href="http://media.bygg.immi.nu/2013/08/Protokoll-för-vid-IMMIs-årsmöte-2013.pdf" target="_blank">Protokoll f&ouml;rt vid IMMIs &aring;rsm&ouml;te 2013</a></p>

<h1>&Aring;rsm&ouml;tesfiler</h1>

<h2>Verksamhetsber&auml;ttelse m.m.:</h2>

<ul>
	<li><a href="http://media.bygg.immi.nu/2016/01/ÅM-2016-Verksamhetsberättelse.pdf" target="_blank">Verksamhetsber&auml;ttelse 2016</a></li>
	<li><a href="http://media.bygg.immi.nu/2016/02/Balansr%C3%A4kning-IMMI-2015.pdf" target="_blank">Balansr&auml;kning 2015</a></li>
	<li><a href="http://media.bygg.immi.nu/2016/02/Resultatr%C3%A4kning-IMMI-2015.pdf" target="_blank">Resultatr&auml;kning 2015</a></li>
	<li><a href="http://media.bygg.immi.nu/2016/02/Revisionsber%C3%A4ttelse-2015.pdf" target="_blank">Revisionsber&auml;ttelse</a></li>
</ul>

<h2>Propositioner:</h2>

<h3>PROPOSITIONER INF&Ouml;R &Aring;RSM&Ouml;TE 2016:</h3>

<ul>
	<li><a href="http://media.bygg.immi.nu/2016/01/ÅM-2016-Budget.pdf" target="_blank">Proposition om budget</a></li>
	<li><a href="http://media.bygg.immi.nu/2016/01/ÅM-2016-stadgar.pdf" target="_blank">Proposition om stadge&auml;ndringar</a></li>
	<li><a href="http://media.bygg.immi.nu/2016/01/ÅM-2016-förändringsarbete.pdf" target="_blank">Proposition om f&ouml;r&auml;ndringsarbete</a><br />
	(vidareutveckling av antagningskriterier o paraplyorganisation fr&aring;n 2015).</li>
	<li><a href="http://media.bygg.immi.nu/2016/01/ÅM-2016-Policy.pdf" target="_blank">Proposition om ny policy</a></li>
	<li><a href="http://media.bygg.immi.nu/2016/01/ÅM-2016-IMMI_sekretessavtal.pdf" target="_blank">Bilaga: Sekretessavtal</a></li>
</ul>

<h3>PROPOSITIONER INF&Ouml;R &Aring;RSM&Ouml;TE 2015</h3>

<ul>
	<li><a href="http://media.bygg.immi.nu/2013/08/Proposition-om-budget-2015.pdf" target="_blank">IMMI &Aring;RSM&Ouml;TE 2015 Proposition om budget</a></li>
	<li><a href="http://media.bygg.immi.nu/2013/08/IMMI-ÅRSMÖTE-2015-Proposition-styrelsens-mandat-att-utarbeta-antagningskriterier.pdf" target="_blank">IMMI &Aring;RSM&Ouml;TE 2015 Proposition om utarbeta antagningskriterier</a></li>
	<li><a href="http://media.bygg.immi.nu/2013/08/IMMI-ÅRSMÖTE-2015-Proposition-om-ändring-i-medlemsåtagandet.pdf" target="_blank">IMMI &Aring;RSM&Ouml;TE 2015 Proposition om &auml;ndring i medlems&aring;tagandet</a></li>
	<li><a href="http://media.bygg.immi.nu/2013/08/IMMI-ÅRSMÖTE-2015-Proposition-om-stadgeändringar.pdf" target="_blank">IMMI &Aring;RSM&Ouml;TE 2015 Proposition om stadge&auml;ndringar</a></li>
	<li><a href="http://media.bygg.immi.nu/2013/08/IMMI-ÅRSMÖTE-2015-Proposition-om-framtida-paraplyorganisation.pdf" target="_blank">IMMI &Aring;RSM&Ouml;TE 2015 Proposition om framtida paraplyorganisation</a></li>
</ul>

<h3>PROPOSITIONER INF&Ouml;R &Aring;RSM&Ouml;TE 2014</h3>

<ul>
	<li><a href="http://media.bygg.immi.nu/2014/02/Proposition-om-strategi-och-tillväxt.pdf" target="_blank">Proposition om strategi och tillv&auml;xt</a></li>
	<li><a href="http://media.bygg.immi.nu/2014/02/Proposition-om-stadgeändring.pdf" target="_blank">Proposition om stadge&auml;ndring</a></li>
	<li><a href="http://media.bygg.immi.nu/2014/02/Proposition-om-medlemsavgift-2015.pdf" target="_blank">Proposition om medlemsavgift 2015</a></li>
	<li><a href="http://media.bygg.immi.nu/2014/02/Proposition-om-IMMI-Medlemskontrakt.pdf" target="_blank">Proposition om IMMI Medlemskontrakt</a></li>
	<li><a href="http://media.bygg.immi.nu/2014/02/Proposition-om-budget-2014.pdf" target="_blank">Proposition om budget 2014</a></li>
</ul>

<h2>Motioner:</h2>

<p>Inga fanns f&ouml;r 2014 eller 2015</p>

<p class="center"><a href="/en/pages/index">Tillbaks till Medlemssidor</a></p>

<h1>Historiska nyhetsbrev</h1>

<p><strong>NYHETSBREV 2015 </strong></p>

<p><a href="http://media.bygg.immi.nu/2014/02/IMMIs-nyhetsbrev-april-2015.pdf" target="_blank">IMMI:s nyhetsbrev, april 2015</a></p>

<p><a href="http://media.bygg.immi.nu/2014/02/IMMIs-nyhetsbrev-april3-2015.pdf" target="_blank">IMMI:s nyhetsbrev, april3 2015</a></p>

<p><a href="http://media.bygg.immi.nu/2014/02/IMMIs-nyhetsbrev-maj-2015.pdf" target="_blank">IMMI:s nyhetsbrev, maj 2015</a></p>

<p><a href="http://media.bygg.immi.nu/2014/02/IMMIs-nyhetsbrev-juni-2015.pdf" target="_blank">IMMI:s nyhetsbrev, juni 2015</a></p>

<p><a href="http://media.bygg.immi.nu/2015/12/nyhetsbrev15-12-11.pdf" target="_blank">IMMI:s Nyhetsbrev h&ouml;sten 2015</a></p>

<table>
	<tbody>
		<tr>
			<td>
			<p><strong>NYHETSBREV 2014</strong></p>

			<p><a href="http://media.bygg.immi.nu/2014/02/IMMIs-nyhetsbrev-december-2014.pdf" target="_blank">IMMI:s nyhetsbrev, december 2014</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/IMMIs-nyhetsbrev-november-2014.pdf" target="_blank">IMMI:s nyhetsbrev, november 2014</a></p>

			<p><a href="http://media.bygg.immi.nu/2014/02/IMMIs-nyhetsbrevoktober-2014.pdf" target="_blank">IMMI:s nyhetsbrev, oktober 2014</a></p>

			<p><a href="http://media.bygg.immi.nu/2014/02/IMMIs-nyhetsbrev-september2014.pdf" target="_blank">IMMI:s nyhetsbrev, september2014</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/IMMIs-nyhetsbrev-augusti2014.pdf" target="_blank">IMMI:s nyhetsbrev, augusti2014</a></p>

			<p><a href="http://media.bygg.immi.nu/2013/08/IMMIs-nyhetsbrev-juli-2014.pdf" target="_blank">IMMI:s nyhetsbrev, juli 2014</a></p>

			<p><a href="http://media.bygg.immi.nu/2014/03/IMMIs-nyhetsbrev-juni-2014.pdf" target="_blank">IMMI:s nyhetsbrev, juni 2014</a></p>

			<p><a href="http://media.bygg.immi.nu/2014/03/IMMIs-nyhetsbrev-maj2014.pdf" target="_blank">IMMI:s nyhetsbrev, maj 2014</a></p>

			<p><a href="http://media.bygg.immi.nu/2014/02/IMMIs-nyhetsbrev-april-2014.pdf" target="_blank">IMMI:s nyhetsbrev, april 2014</a></p>

			<p><a href="http://media.bygg.immi.nu/2014/03/IMMIs-nyhetsbrev-mars-2014.pdf" target="_blank">IMMI:s nyhetsbrev, mars 2014</a></p>

			<p><a href="http://media.bygg.immi.nu/2014/03/IMMIs-nyhetsbrev-februari2014.pdf" target="_blank">IMMI:s nyhetsbrev, februari 2014</a></p>

			<p><a href="http://media.bygg.immi.nu/2014/02/IMMIs-nyhetsbrev-januari-2014.pdf" target="_blank">IMMI:s nyhetsbrev, januari 2014</a></p>
			</td>
			<td>
			<p><strong>NYHETSBREV 2013</strong></p>

			<p><a href="http://media.bygg.immi.nu/2014/02/IMMIs-nyhetsbrev-november-2013.pdf" target="_blank">IMMI:s nyhetsbrev, november 2013</a></p>

			<p><a href="http://media.bygg.immi.nu/2014/02/IMMIs-medlemsbrevoktober-2013.pdf" target="_blank">IMMI:s medlemsbrev,oktober 2013</a></p>

			<p><a href="http://media.bygg.immi.nu/2014/02/IMMIs-nyhetsbrev-september2013.pdf" target="_blank">IMMI:s nyhetsbrev, september2013</a></p>

			<p><a href="http://media.bygg.immi.nu/2014/02/IMMIs-nyhetsbrev-juni-2013.pdf" target="_blank">IMMI:s nyhetsbrev, juni 2013</a></p>

			<p><a href="http://media.bygg.immi.nu/2014/02/IMMIs-nyhetsbrev-maj-2013.pdf" target="_blank">IMMI:s nyhetsbrev, maj 2013</a></p>

			<p><a href="http://media.bygg.immi.nu/2014/02/IMMIs-nyhetsbrev-april-2013.pdf" target="_blank">IMMI:s nyhetsbrev, april 2013</a></p>

			<p><a href="http://media.bygg.immi.nu/2014/02/IMMIs-nyhetsbrev-mars-2013.pdf" target="_blank">IMMI:s nyhetsbrev, mars 2013</a></p>

			<p><a href="http://media.bygg.immi.nu/2014/02/IMMIs-nyhetsbrev-februari-2013.pdf" target="_blank">IMMI:s nyhetsbrev, februari 2013</a></p>

			<p><a href="http://media.bygg.immi.nu/2014/02/IMMIs-medlemsbrev-januari-2013.pdf" target="_blank">IMMIs medlemsbrev, januari 2013</a></p>
			</td>
		</tr>
	</tbody>
</table>
