%header.entry-header
  %h1.entry-title Mallar
.post-title-divider
  %span
.entry-content
  %h2
    Anmälnings- och avbokningsregler
  %p
    Här hittar du en standardmall för hur anmälnings- och avbokningsreglerna kan
    se ut. Den är uppdaterade efter lagändringen 2014-06-13. Den är anpassad
    både till att du säljer tjänster/kurser och produkter via internet. Säljer
    du produkter i fysisk butik gäller inte denna lag för dessa.
  %p
    Viktigt att komma ihåg är att du MÅSTE skicka med denna blankett till kunden
    tillsammans med kursbekräftelsen eller produkten för att ångerrätten ska
    vara 14 dagar. Missar du att skicka med den har kunden automatiskt 1 års
    ångerrätt.
  %p
    Kunden har alltid rätt att ångra sig inom dessa 14 dagar, även om du redan
    har startat kursen under förutsättning att kunden inte deltog då. Så snart
    kunden börjar delta i en kurs förfaller ångerrätten.
  %p
    Mallen finns här både som pdf och som Word. De gulmarkerade fälten ska du
    byta ut mot ditt företagsnamn osv.
  %ul
    %li
      =link_to 'Ångerrätt och reklamationer_allmän (pdf)',
      'http://media.bygg.immi.nu/2014/09/Ångerrätt-och-reklamationer_allmän.pdf'
    %li
      =link_to 'Ångerrätt och reklamationer_allmän (word)',
      'http://media.bygg.immi.nu/2014/09/Ångerrätt-och-reklamationer_allmän.docx'
  %p.center
    = link_to 'Tillbaks till Medlemssidor', page_path('index')