<h2 style="text-align: center;">Medlemsbeviset</h2>

<hr />
<p>Som SHFmedlem erh&aring;ller du ett digitalt medlemsbevis. Ett orginal vi anser viktigt att du visar upp vid dina kundkontakter. D&aring; detta &auml;r ett dokument som visar att du skiljer dig fr&aring;n andra hundf&ouml;retagare. Du f&aring;r en digital version av ditt medlemsbevis och ditt H-m&auml;rke, att l&auml;gga upp p&aring; din egen hemsida, l&auml;nka g&auml;rna till oss s&aring; kan dina kunder l&auml;tt f&aring; mer information.</p>

<p>Rekommenderad text: Jag &auml;r H-m&auml;rkt och medlem i Sveriges Hundf&ouml;retagare.</p>

<p>Det &auml;r viktigt att vi alla f&ouml;ljer v&aring;r grafiska profil, att loggan nyttjas p&aring; ett enhetligt s&auml;tt och inga egna versioner skapas av er medlemmar. Detta f&ouml;r att skapa igenk&auml;nning, tydlighet gentemot kund. Och skydda oss mot f&ouml;rfalskningar av H-m&auml;rket.</p>

<p>Vi &ouml;nskar att ni l&auml;gger upp nedanst&aring;ende bild p&aring; era hemsidor. Samt l&auml;nkar denna bild till: www.sverigeshundforetagare.se</p>

<p><img alt="" src="/ckeditor_assets/pictures/member_pages/eed/1e2/545/651/be8/3b9/1/original_medlem.png" style="width: 468px; height: 250px; margin-top: 0px; margin-bottom: 0px;" /></p>

<p>Vi &ouml;nskar &auml;ven att ni pryder er hemsida med H-m&auml;rket. F&ouml;r att visa att ni just H-m&auml;rkta med allt vad det inneb&auml;r. Bilden nedan nyttjas i detta syfte och l&auml;nkas till: &quot;http://sverigeshundforetagare.se/agare/h-markt-av-sveriges-hundforetagare/&quot;</p>

<p><img alt="" src="/ckeditor_assets/pictures/member_pages/45e/bcc/9e0/b2b/3c9/08b/2/original_h-marke.png" style="width: 434px; height: 499px;" /></p>

<p>Best&auml;ll g&auml;rna SHFs broschyr f&ouml;r att dela ut till dina kunder, och placera g&auml;rna ut den p&aring; l&auml;mpliga st&auml;llen du bes&ouml;ker. <strong>Det finns plats f&ouml;r din egen logga p&aring; den!</strong></p>

<p>&nbsp;</p>
