%header.entry-header
  %h1.entry-title Medlemsbeviset
.post-title-divider
  %span
.entry-content
  %p
    Som SHFmedlem erhåller du ett medlemsbevis. Ett orginal vi anser viktigt att du visar upp vid dina kundkontakter. Då detta är ett dokument som visar att du skiljer dig från andra hundföretagare. Du får även en digital version av ditt medlemsbevis (framöver) och ditt H-märke, att lägga upp på din egen hemsida, länka gärna till oss så kan kunderna dina lätt få mer information. Rekommenderad text: Jag är H-märkt! och medlem i Sveriges Hundföretagare. En officiell kvalitetsstämpel för oss hundföretagare. (eller liknande)
  %p
    Beställ gärna SHFs broschyr för att dela ut till dina kunder, och placera gärna ut den på lämpliga ställen du besöker. Det finns plats för din egen logga på den!
    