%header.entry-header
  %h1.entry-title Medlemsbeviset
.post-title-divider
  %span
.entry-content
  %p
    Som SHFmedlem erhåller du ett digitalt medlemsbevis. Ett orginal vi anser
    viktigt att du visar upp vid dina kundkontakter. Då detta är ett dokument
    som visar att du skiljer dig från andra hundföretagare. Du får en digital
    version av ditt medlemsbevis och ditt H-märke, att lägga upp på din egen
    hemsida, länka gärna till oss så kan dina kunder lätt få mer information.
  %p
    Rekommenderad text: Jag är H-märkt och medlem i Sveriges Hundföretagare.
  %p
    Det är viktigt att vi alla följer vår grafiska profil, att loggan nyttjas på
    ett enhetligt sätt och inga egna versioner skapas av er medlemmar. Detta för
    att skapa igenkänning, tydlighet gentemot kund. Och skydda oss mot
    förfalskningar av H-märket.
  %p
    Vi önskar att ni lägger upp nedanstående bild på era hemsidor. Samt
    länkar denna bild till: www.sverigeshundforetagare.se
  = image_tag('medlem.png')
  %p
    Vi önskar även att ni pryder er hemsida med H-märket. För att visa att ni
    just H-märkta med allt vad det innebär. Bilden nedan nyttjas i detta syfte
    och länkas till:
    "http://sverigeshundforetagare.se/agare/h-markt-av-sveriges-hundforetagare/"
  = image_tag('h-marke.png')
  %p
    Beställ gärna SHFs broschyr för att dela ut till dina kunder, och placera
    gärna ut den på lämpliga ställen du besöker.
    %strong
      Det finns plats för din egen logga på den!
  %p.center
    = link_to 'Tillbaks till Medlemssidor', page_path('index')
