%header.entry-header
  %h1.entry-title Vårt nyhetsbrev
.post-title-divider
  %span
.entry-content
  %p
    Ungefär en gång per månad skickar styrelsen, via mail, ut ett nyhetsbrev
    till alla medlemmar. Detta görs för att få en nära och snabb kontakt mellan
    styrelsen och er medlemmar och för att medlemmarna kontinuerligt hålls
    uppdaterade om styrelsens arbete för att göra IMMI och dess medlemmar mer
    synliga och andra projekt som vi driver.
  %p
    I nyhetsbrevet har vi också reserverat plats för dig som medlem att bidra
    med material, tips och fotgrafier. Vill du göra reklam för
    vidareutbildningar, event eller föreläsningar som du arrangerar passar
    det också utmärkt i nyhetsbrevet, liksom i den slutna facebookgruppen.
    Vill du göra reklam för dina kurser som vänder sig till hundägare passar
    detta bättre på vår öppna facebooksida.