<h2 style="text-align: center;">V&aring;rt Nyhetsbrev</h2>

<hr />
<p>Ungef&auml;r en g&aring;ng per m&aring;nad skickar styrelsen, via mail, ut ett nyhetsbrev till alla medlemmar. Detta g&ouml;rs f&ouml;r att f&aring; en n&auml;ra och snabb kontakt mellan styrelsen och er medlemmar och f&ouml;r att medlemmarna kontinuerligt h&aring;lls uppdaterade om styrelsens arbete f&ouml;r att g&ouml;ra IMMI och dess medlemmar mer synliga och andra projekt som vi driver.</p>

<p>I nyhetsbrevet har vi ocks&aring; reserverat plats f&ouml;r dig som medlem att bidra med material, tips och fotgrafier. Vill du g&ouml;ra reklam f&ouml;r vidareutbildningar, event eller f&ouml;rel&auml;sningar som du arrangerar passar det ocks&aring; utm&auml;rkt i nyhetsbrevet, liksom i den slutna facebookgruppen. Vill du g&ouml;ra reklam f&ouml;r dina kurser som v&auml;nder sig till hund&auml;gare passar detta b&auml;ttre p&aring; v&aring;r &ouml;ppna facebooksida.</p>
