<p>I din medlemsavgift ing&aring;r en kollektiv f&ouml;rs&auml;kring genom If. F&ouml;rs&auml;kringen g&auml;ller f&ouml;r olycksfall eller skada %em under ditt arbete som instrukt&ouml;r eller hundpsykolog men ocks&aring; %em under tiden du f&auml;rdas till eller fr&aring;n kurs eller privat konsultation.</p>

<p>F&ouml;rs&auml;kringen utfaller vid anm&auml;ld skada eller olycksfall i arbetet och ers&auml;tter d&aring; utlagda n&ouml;dv&auml;ndiga kostnader f&ouml;r l&auml;ke-, tandskade- och resekostnader.</p>

<ul>
	<li>l&auml;ke-, rese- och tandbehandlingskostnader 25 000 kr</li>
	<li>merkostnader 50 000 kr</li>
	<li>kristerapi maximalt 10 behandlingar</li>
	<li>rehabilitering och hj&auml;lpmedel 40 000 kr</li>
	<li>medicinsk invaliditet pga olycksfall 800 000 kr</li>
	<li>d&ouml;dsfall 40 000 kr</li>
</ul>

<p>Sj&auml;lvrisk f&ouml;r ovanst&aring;ende: 0 kr</p>

<h3>Till&auml;ggsf&ouml;rs&auml;kring:</h3>

<ul>
	<li>&Ouml;verfall 400 000 kr &auml;r den h&ouml;gsta sammanlagda ers&auml;ttning som If betalar vid varje skada, &auml;ven om flera personer skadats. G&auml;ller inom Norden. Sj&auml;lvrisk: 4 100 kr</li>
	<li>Sveda o v&auml;rk, enligt Skadest&aring;ndslagen</li>
</ul>

<p>Har du fr&aring;gor eller beh&ouml;ver hj&auml;lp? Kontakta SHF, vi hj&auml;lper dig g&auml;rna!</p>

<p>F&ouml;r mer detaljerad information, se If f&ouml;rs&auml;kringsvillkor: <a href="http://media.bygg.immi.nu/2013/08/If.pdf">If f&ouml;rs&auml;kringsvillkor</a></p>
