%header.entry-header
  %h1.entry-title Olycksfallsförsäkring
.post-title-divider
  %span
.entry-content
  %p
    I din medlemsavgift till SHF ingår en kollektiv försäkring genom If.
    Försäkringen gäller för olycksfall eller skada under ditt arbete men också
    under tiden du färdas till eller från dina uppdrag.
  %p
    Försäkringen utfaller vid anmäld skada eller olycksfall i arbetet och
    ersätter då utlagda nödvändiga kostnader för läke-, tandskade- och
    resekostnader.
  %ul
    %li
      läke-, rese- och tandbehandlingskostnader 25 000 kr
    %li
      merkostnader 50 000 kr
    %li
      kristerapi maximalt 10 behandlingar
    %li
      rehabilitering och hjälpmedel 40 000 kr
    %li
      medicinsk invaliditet pga olycksfall 800 000 kr
    %li
      dödsfall 40 000 kr
    %li
      Självrisk för ovanstående: 0 kr


  %h3
    Tilläggsförsäkring:
  %p
    Överfall 400 000 kr är den högsta sammanlagda ersättning som If betalar
    vid varje skada, även om flera personer skadats. Gäller inom Norden.
    Självrisk: 4 100 kr sveda och värk, enligt Skadeståndslagen
  %p
    Har du frågor eller behöver hjälp? Kontakta SHF, vi hjälper dig gärna!
  %p
    För mer detaljerad information, se If försäkringsvillkor (kommer).