%header.entry-header
  %h1.entry-title Remiss
.post-title-divider
  %span
.entry-content
  %p
    Vi är ett nätverk av yrkeskunniga företagare som alla är seriösa och ser
    till hundens bästa. Kom ihåg att vi alla gynnas av branschöverskridande
    samarbeten.
  %p
    Remittera gärna till varandra genom att lotsa kunder med behov av andra
    tjänster vidare till en kollega inom SHF. Se till att hålla en nära kontakt
    och delge varandra journalanteckningar, iakttagelser, rekommenderade
    behandlingar och liknande så att kunden får maximal hjälp tack vare ert
    samspel. Ett snabbt telefonsamtal mellan en behandlande hundfysioterapeut
    och hundpsykolog  kan göra stor skillnad för det enskilda fallet.
  %p
    = link_to 'hitta mailadress', 'list companies path'
  %h3
    Information att delge vid remittering.
  %ul
    %li
      Hundägarens namn:
    %li
      Hundägarens kontaktdetaljer:
    %li
      Hundnamn, ras/raser, ålder, kön:
    %li
      Orsak till remiss:
    %p
      När du tar dig an en remiss är det viktigt att återkoppla till
      remitterande kollega.
  %p.center
    = link_to 'Tillbaks till Medlemssidor', page_path('index')
