<p>Vi &auml;r ett n&auml;tverk av yrkeskunniga f&ouml;retagare som alla &auml;r seri&ouml;sa och ser till hundens b&auml;sta. Kom ih&aring;g att vi alla gynnas av bransch&ouml;verskridande samarbeten.</p>

<p>Remittera g&auml;rna till varandra genom att lotsa kunder med behov av andra tj&auml;nster vidare till en kollega inom SHF. Se till att h&aring;lla en n&auml;ra kontakt och delge varandra journalanteckningar, iakttagelser, rekommenderade behandlingar och liknande s&aring; att kunden f&aring;r maximal hj&auml;lp tack vare ert samspel. Ett snabbt telefonsamtal mellan en behandlande hundfysioterapeut och hundpsykolog kan g&ouml;ra stor skillnad f&ouml;r det enskilda fallet.</p>

<p><a href="/hundforetag">hitta mailadress</a></p>

<h3>Information att delge vid remittering:</h3>

<ul>
	<li>Hund&auml;garens namn:</li>
	<li>Hund&auml;garens kontaktdetaljer:</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li>Hundnamn, ras/raser, &aring;lder, k&ouml;n:</li>
	<li>Orsak till remiss:</li>
</ul>

<p>N&auml;r du tar dig an en remiss &auml;r det viktigt att &aring;terkoppla till remitterande kollega.</p>
