<h2 style="text-align: center;">Styelse Och Kontaktinformation</h2>

<hr />
<p>SHF:s nuvarande styrelse fick f&ouml;rtroendet &aring;rsm&ouml;tet 2015. Styrelsen best&aring;r av en grupp engagerade hundf&ouml;retagare som tillsammans besitter bred kompetens och ser behovet av en samlande organisation. Alla har en given roll och kvaliteter vi inte klarat oss utan. Det &auml;r ett sant n&ouml;je att tillsammans arbeta mot gemensamma m&aring;l som vi alla brinner f&ouml;r.</p>

<p><strong>Plusgiro nummer 46 96 49-8</strong></p>

<p><strong>Organisationsnummer 873202-2705</strong></p>

<p><strong>Ordf&ouml;rande/Medlemskontakter</strong><br />
Ulrika Bevreus<br />
<a href="mailto:ulrika@sverigeshundforetagare.se">ulrika@sverigeshundforetagare.se</a></p>

<p><strong>Ledamot / Vice ordf&ouml;rande</strong><br />
Carolyn Alupo<br />
<caroline alupo=""> <a href="mailto:carro@sverigeshundforetagare.se">carro@sverigeshundforetagare.se</a></caroline></p>

<p><strong>Ledamot / Hemsida</strong><br />
Susanna Larsdotter<br />
<a href="mailto:susanna@sverigeshundforetagare.se">susanna@sverigeshundforetagare.se</a></p>

<p><strong>Ledamot</strong><br />
Lena Josefsson<br />
<a href="mailto:lena@sverigeshundforetagare.se">lena@sverigeshundforetagare.se</a></p>

<p><strong>Ledamot/Kass&ouml;r</strong><br />
Susanna L&ouml;nngren<br />
<a href="mailto:kassor@sverigeshundforetagare.se">kassor@sverigeshundforetagare.se</a></p>

<p><strong>Suppleant</strong><br />
Frida Lundin<br />
<a href="mailto:frida@sverigeshundforetagare.se">frida@sverigeshundforetagare.se</a></p>

<p><strong>Suppleant</strong><br />
Eva Kant</p>

<p><strong>Valberedning</strong>:</p>

<p><strong>Kommer</strong></p>

<h3>Senaste M&ouml;tesprotokoll<br />
Kommer h&auml;r nedan inom kort</h3>
