<h2 style="text-align: center;">Tr&auml;ffa Dina Kollegor</h2>

<hr />
<p>Vi anser att n&auml;ra kontakt och samarbete &auml;r av stor vikt f&ouml;r v&aring;r sammanh&aring;llning, gemenskap och kollektiva utveckling. Samtidigt bor vi ju i ett avl&aring;ngt land med stora geografiska avst&aring;nd. D&auml;r har vi stor gl&auml;dje av den moderna tekniken och kan f&ouml;ra diskussioner exempelvis i f&ouml;reningens Facebookgrupp. P&aring; Facebook finns &auml;ven en sida som &auml;r &ouml;ppen f&ouml;r alla intresserade. H&auml;r kan era kunder ta del av givande &ndash; eller &rdquo;bara&rdquo; trevliga &ndash; inl&auml;gg fr&aring;n dagens Hundsverige. Sj&auml;lvklart &auml;r du ocks&aring; v&auml;lkommen att kontakta styrelsen direkt. Kanske vill du ha ett bollplank f&ouml;r dina fr&aring;gor? Delge tips och komma med nya id&eacute;er? F&aring; r&aring;d om var du skulle kunna f&ouml;rmedla en kund vidare? Eller helt andra funderingar?!</p>

<h2>Facebookgrupp:</h2>

<p>Intern grupp&nbsp;<strong>bara</strong> f&ouml;r SHF-medlemmar: <a href="http://facebook.com/groups/sverigeshundforetagare">facebook.com/groups/sverigeshundforetagare</a></p>

<h2>Facebooksida:</h2>

<p><strong>Gilla</strong> och bjud in alla du k&auml;nner att gilla den: <a href="http://facebook.com/sverigeshundforetagare">facebook.com/sverigeshundforetagare</a></p>
