%header.entry-header
  %h1.entry-title Träffa dina kollegor
.post-title-divider
  %span
.entry-content
  %p
    Vi anser att nära kontakt och samarbete är av stor vikt för vår
    sammanhållning, gemenskap och kollektiva utveckling. Samtidigt bor vi ju i
    ett avlångt land med stora geografiska avstånd. Där har vi stor glädje av
    den moderna tekniken och kan föra diskussioner exempelvis i föreningens
    Facebookgrupp. På Facebook finns även en sida som är öppen för alla
    intresserade. Här kan era kunder ta del av givande – eller ”bara” trevliga –
    inlägg från dagens Hundsverige. Självklart är du också välkommen att
    kontakta styrelsen direkt. Kanske vill du ha ett bollplank för dina frågor?
    Delge tips och komma med nya idéer? Få råd om var du skulle kunna förmedla
    en kund vidare? Eller helt andra funderingar?!
  %h2
    Facebookgrupp:
  %p
    Intern grupp
    %strong bara
    för SHF-medlemmar:
    = link_to 'facebook.com/groups/sverigeshundforetagare',
    'https://www.facebook.com/groups/sverigeshundforetagare/'
  %h2
    Facebooksida:
  %p
    %strong Gilla
    och bjud in alla du känner att gilla den:
    = link_to 'facebook.com/sverigeshundforetagare',
    'https://www.facebook.com/sverigeshundforetagare/?fref=ts'

  %p
  %p.center
    = link_to 'Tillbaks till Medlemssidor', page_path('index')
