%header.entry-header
  %h1.entry-title Yrkesråd
.post-title-divider
  %span
.entry-content
  %p
    Skulle du kunna tänka dig att ingå i ett yrkesråd i SHF där du kan göra
    punktinsatser och driva en speciell fråga och hjärtesak? Kontakta oss gärna,
    vi uppskattar allt engagemang stort som litet.
  %p
    Kontakta oss på
    = mail_to 'info@sverigshundforetagare.se'
  %p.center
    = link_to 'Tillbaks till Medlemssidor', page_path('index')
