%ul.custom-menu
  %li{ "data-action" => "download" }= t('users.show.download_image')
  %li{ "data-action" => "link" }= t('users.show.copy_image_url')
  %li{ "data-action" => "show" }= t('users.show.show_image')