%header.entry-header
  = content_title(t('.title'), user: current_user)

.entry-content
  = render 'form'
  %hr
  .text-center
    = link_to t('.all_master_checklist_types'), admin_only_master_checklist_types_path, class: 'btn btn-sm btn-light'
