= render 'image_show', app_config:app_config,
                             image_title: image_title

%br
%br
- if app_config.send(image_title)
  .clearfix
  %strong
    = app_config.send("#{image_title}_file_name")
.clearfix
.field
  = f.file_field image_title.to_sym, accept: 'image/png, image/jpeg'
