-# this partial expects a local named
  app_config

%hr
.text-center
  = link_to "#{t('edit')} #{t('admin_only.app_configuration.show.title')}", admin_only_edit_app_configuration_path, class:'btn btn-light btn-sm'
  
