%header.entry-header
  %h1.entry-title= t('.title', company_name: @company.name)
  .post-title-divider
    %span
.entry-content.wpcf7
  = render partial: 'form',
           locals: { address: @address, method: :post,
                     url: company_addresses_path(@company.id) }
  .center
    = link_to "#{t('companies.view_company')}", @company
