- if master_checklist.no_more_major_changes?
  .row.mt-2
    .col
      .no-more-major-changes-note
        %p
          There are User Checklists based on this, so no more major changes are allowed.
          %br
          If you need to make changes, you can clone this one, which will set it to 'no longer in use', and then edit the new (cloned) one.
