%header.entry-header
  %h1.entry-title= t('.title')

.entry-content
  = render 'form', locals: { master_checklist: @master_checklist,
    all_allowable_parents: @all_allowable_parents,
    max_list_position_zerobased: @max_list_position_zerobased }

  %hr
  .text-center
    = link_to t('.all_list_items'), admin_only_master_checklists_path, class: 'btn btn-sm btn-light'
