-# javascript that is sent to the client and rendered there
-#  WIP - just exploring an idea.  Not sure if this is a good way to do this or not.
$("= escape_javascript( render recent_activity_details").appendTo("#recent-details");
