-# javascript that is sent to the client and rendered there
=#$("<%= escape_javascript(render @user) %>").appendTo("#users");

$("= escape_javascript( render recent_activity_details").appendTo("#recent-details");
