/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
  */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:200,400,700");
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700');


// Colors
$primary:         #003a78 !default;
$light:           #dad9cd !default;
$secondary:       #6e644b !default;
$info:            #5692ce !default;
$success:         #7ca059 !default;

$body-text: #333;
$body-background: #f7f7f2;

$toggler-hide-color: #1a1a1a;
$dark-gray-text: #6c757d;

$categories-gray: #aaa;
$label-gray: #a7a7a7;
$menu-light-gray: #ddd;
$med-gray-border: #dee2e6;
$menu-very-light-gray: #eee;
$toggler-border-bottom: #e1e1e1;

$warn-red-text: #c51f1b;

$shf-blue: $info;
$border-light-blue: #8eadce;
$pastel-blue-background: rgba(86,146,206,0.2);


$link-dark-brown: #232525;
$menu-link-very-dark-brown: #404040;
$shf-main-brown: #85795b;
$light-taupe: #f7f7f7;

$yes-green:  #d8efc2;
$maybe-yellow: #ffe7a8;
$no-red: #ffdede;



@import "bootstrap";
@import "bootstrap-toggle";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "maps";
@import "pagination";
@import "style";
@import "custom";
@import "dashboard";
