body {
  font-family: 'Open Sans', sans-serif;
}

.company-h-brand-div {
  background-color: #e4e3df;
  border: 1px solid black;
  display: block;
  font-size: 14px;
  font-style: normal;
  height: auto;
  letter-spacing: 0.05em;
  line-height: 20px;
  margin: 0;
  width: 300px;
  text-align: center;
}

.h-brand-logo {
  padding: 20px 20px 0 20px;
}

.current-year {
  display: block;
  font-size: 34px;
  height: 40px;
  line-height: 40px;
}

.sweden-dog-trainers {
  padding: 0 20px 0 20px;
}

.company-info-separator {
  background-color: #b9b9b5;
  margin: 10px 5px 10px 5px;
}

.company-info {
  display: block;
  font-weight: normal;
  height: auto;
  margin: 0 10px 10px 10px;
  text-align: center;
}

.company-name {
  font-weight: bold;
}
