$btn-hover-color: #7EDD8B;

.field-label {
  font-weight: bold;
}


.edit_company {

  .main-address {
    font-size: larger;
    font-weight: bold;
    margin-top: 2rem;
  }

}


.company {

  margin-bottom: 0;
  padding-top: 1rem;

  .entry-title {
    font-weight: bold;
  }

  p {
    margin-bottom: 0.8em;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: normal;
  }

  .post-category {
    .post-categories {
      display: inline-block;
      list-style: none;
      margin: 0;
    }
  }

  .address {
    margin-bottom: 1em;
    margin-top: 2em;

    h2 {
      margin-bottom: 0;
    }
  }

  .item-nav-buttons {
    margin-top: 3em;
  }

  .hide-search-form {
    color: black;
    text-transform: none;

    &:hover {
      color: $btn-hover-color;
    }
  }

  .dinkurs-fetch-button {
    margin-bottom: 2px;
    margin-right: 2px;
    margin-top: 2px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 5px;
    padding-top: 3px;
  }

  .table-with-border {
    border-color: #bfbfbf;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
  }

  .search-instructions {
    margin-bottom: 20px;  // same as Bootstrap panel margin-bottom
  }

  .map-marker {

    p {
      margin-bottom: 0.5rem;
    }

    .name {
      font-size: larger;
      font-weight: bold;
    }

    .categories {
      font-style: italic;
    }
  }
}


#map {

  margin: 0;
  padding: 0;
  width: 100%;
}
