@import 'shf-custom-colors';

.yes,
.Yes,
.no,
.No,
.maybe,
.Maybe {
  padding: 3px 8px;
}

.yes,
.Yes {
  background-color: $yes-background-green;
}

.maybe,
.Maybe {
  background-color: $maybe-background-yellow;
}

.no,
.No {
  background-color: $no-background-red;
}


.edit a,
.delete a {
  border-bottom: 0;
}

// ======================================
// ICONS

// ------------------------------
// FontAwesome social media icons

.fa-facebook {
  color: $social-media-facebook-blue;
}

.fa-instagram {
  color: $social-media-instagram-gray;
}

.fa-youtube-square {
  color: $social-media-youtube-red;
}
// ------------------------------


.disabled-icon {
  color: $disabled-icon-gray;
  cursor: not-allowed;
}
// ======================================
