.yes,
.Yes,
.no, 
.No,
.maybe,
.Maybe {
padding: 3px 8px;
}

.yes, 
.Yes {
background-color: $yes-green;
}

.maybe,
.Maybe {
background-color: $maybe-yellow;
}

.no,
.No {
background-color: $no-red;
}
