// ------------------------
//  Admin Dashboard
// ------------------------

@import "shf-custom-colors";

$indent-amount: 2rem;

$tab-active-background-color: rgba(85, 145, 206, 0.2);

.radio-button {
  font-weight: normal;
  margin-left: 2rem;
}

.admin {

  .nav-tabs {
    border-bottom: 1px solid $gray;
  }


  .nav.nav-tabs,
  .nav-tabs .nav-link {

    border-color: $verylightgray;
    margin-top: 0.4rem;
    padding: 0.3rem 0.3rem 0;


    :hover,
    :focus {
      border-color: $primary;
    }

    li {
      margin-right: 1em;
    }

    .active {
      background-color: $tab-active-background-color;
      border-color: $shf-blue;
    }

  }
}

.dashboard {

  .instructions {
    font-size: smaller;
    font-style: italic;
  }


  .section {
    margin: 0 0 1.5em 3em;
    min-height: 300px;
    padding: 10px;

    p {
      margin-bottom: 0.5em;
    }

    .section-title {
      padding-top: 1rem;
    }

    .row {
      margin-top: 0;
    }

    .total,
    .subtotal {
      font-weight: bold;
    }

    .total {
      color: $total-color;
      display: inline-block;
      margin-left: -35px;
      min-width: 35px;
      text-align: right;
    }

    .sub-info-line {
      font-size: 85%;
    }

    .detail-line {
      font-size: smaller;
      margin-left: $indent-amount;
    }

    .recent-activity,
    .current-items-of-note {
      margin-left: $indent-amount;
    }

    .timeframe-options {
      font-size: smaller;
    }

    .not-working {
      color: $not-working-color;
      font-style: italic;
    }

  }

  .code {
    font-family: 'Courier New', Monospace, monospace;

    .method-name {
      font-weight: bold;
    }
  }

  .payors-payment-status {

    .those-not-paid {

      .unpaid-payor {
        i {
          color: lighten($link-dark-brown, 50%);
          font-size: 30%;
          vertical-align: text-top;
        }
      }

    }
  }


  .payments {

    .row {
      margin-top: 1rem;
    }
  }


  .xhr-example {

    .intro {
      margin-bottom: 2rem;
    }

    .example {
      border-bottom: 1px;
      border-bottom-color: #5692ce;
      border-bottom-style: solid;

      margin-bottom: 2rem;
      margin-left: 2rem;
      margin-top: 2rem;

      padding-bottom: 1rem;

      p {
        line-height: 1.1rem;
        font-size: smaller;
      }
    }

    .bad-request {
      background-color: white;
      border-color: red;
      color: red;
      font-size: smaller;
    }

  }
}
