// ------------------------
//  Admin Dashboard
// ------------------------

$indent-amount: 2rem;
$total-color: #1b3e70;
$not-working-color: #ff0000;

.radio-button {
  font-weight: normal;
  margin-left: 2rem;
}

.admin {

  .nav.nav-tabs {
    li {
      margin-right: 1em;
    }
  }
}

.section {
  margin: 0 0 1.5em 3em;
  min-height: 300px;
  padding: 10px;

  p {
    margin-bottom: 0.5em;
  }

  .section-title {
    padding-top: 1rem;
  }

  .row {
    margin-top: 0;
  }

  .total,
  .subtotal {
    font-weight: bold;
  }

  .total {
    color: $total-color;
    display: inline-block;
    margin-left: -35px;
    min-width: 35px;
    text-align: right;
  }

  .sub-info-line {
    font-size: 85%;
  }

  .detail-line {
    font-size: smaller;
    margin-left: $indent-amount;
  }

  .recent-activity,
  .current-items-of-note {
    margin-left: $indent-amount;
  }

  .timeframe-options {
    font-size: smaller;
  }

  .not-working {
    color: $not-working-color;
    font-style: italic;
  }

}
