.image-actions-custom-menu {
  list-style-type: none;
  padding: 0 !important;
  display: none;
  z-index:1000;
  position: absolute;
  background-color:#fff;
  border: 1px solid #ddd;
  overflow: hidden;
  width: 150px;
  white-space:nowrap;
  font-family: sans-serif;
-webkit-box-shadow: 2px 2px 7px 0 rgba(50, 50, 50, 0.5);
-moz-box-shadow:    2px 2px 7px 0 rgba(50, 50, 50, 0.5);
box-shadow:         2px 2px 7px 0 rgba(50, 50, 50, 0.5);
}

.image-actions-custom-menu li {
  padding: 2px 10px;
}

.image-actions-custom-menu li:hover {
  background-color: #013b78;
  color: #fff;
  cursor: pointer;
}
.custom-context-menu {
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}
