$border-color: #fff;
$gray-shadow: #b1b1b1;

#map-container {

  border-color: $border-color;
  border-radius: 16px;
  border-style: solid;
  border-width: 7px;

  box-shadow: 2px 2px 10px $gray-shadow;

  height: 400px;

  margin-top: 25px;

  width: 45%;


  #map-canvas label {
    display: inline;
    width: auto;
  }

}

#map-canvas {
  height: 384px;
  // width:80%;
}


#map {
  height: 300px;  // doesn't work with 100%
  width: 100%;
}

.map-marker p {
  margin-bottom: 0.5em;
}
