.pagination {
display:flex;
padding-left:0;
list-style:none;
border-radius:.25rem;
}

.pagination .active {
z-index:1;
color:#fff;
background-color:#003a78;
border-color:#003a78;
}

.pagination .active a {
color:#fff;
}

.pagination .disabled a {
color:grey;
}

.pagination .disabled:hover {
color:grey;
background-color:#fff;
}

.pagination li a {
position:relative;
display:block;
margin-left:-1px;
border:1px solid #eee;
font-size:.875rem;
line-height:1.5;
padding:.25rem .5rem;
}

.pagination li a:focus {
z-index:2;
outline:0;
box-shadow:0 0 0 .2rem rgba(0,123,255,0.25);
}

.pagination li a:hover {
z-index:2;
text-decoration:none;
color:#000;
background-color:#e9ecef;
border-color:#eee;
}

.pagination li a:not(:disabled):not(.disabled) {
cursor:pointer;
}

.pagination li:first-child a {
margin-left:0;
border-top-left-radius:.2rem;
border-bottom-left-radius:.2rem;
}

.pagination li:last-child a {
border-top-right-radius:.2rem;
border-bottom-right-radius:.2rem;
}