.parent-div {
  border: 1px solid black;
  display: block;
  font-family: ‘Open Sans’, serif;
  font-size: 14px;
  font-style: normal;
  height: 505px;
  letter-spacing: 0.05em;
  line-height: 24px;
  width: 260px;
}

.proof-banner {
  background-color: #7a7866;
  color: white;
  display: block;
  font-size: 18px;
  line-height: 35px;
  height: 35px;
  margin: 0;
  text-align: center;
}

.member-photo-div {
  padding-bottom: 5px;
  padding-top: 10px;
}

.shf-logo {
  height: 120px;
}

.member-photo {
  border-radius: 5px;
  display: block;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
}

.member-info {
  display: block;
  font-weight: bold;
  height: 180px;
  margin: 0;
  text-align: center;
}

.proof-footer {
  background-color: #1b3e70;
  color: white;
  display: block;
  /* font-size: 12px; */
  height: 25px;
  line-height: 25px;
  margin: 0;
  text-align: center;
}
