#proofOfMembership {
  width: auto;
  margin: 0;
  padding: 0;
  border: none;
}
.parent-div {
  display: block;
  height: 504px;
  width: 260px;
  border: 1px solid black;
}

.proof-banner {
  display: block;
  text-align: center;
  background-color: #7a7866;
  color: white;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0em;
  height: 25px;
  line-height: 25px;
}

.member-photo-div {
  padding-top: 10px;
  padding-bottom: 5px;
}

.shf-logo {
  height: 120px;
}

.member-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  height: 130px;
  border-radius: 5px;
}

.member-info {
  display: block;
  text-align: center;
  font-weight: bold;
  margin: 0em;
  height: 180px;
}

.proof-footer {
  display: block;
  text-align: center;
  background-color: #1b3e70;
  color: white;
  font-size: 12px;
  margin: 0em;
  height: 25px;
  line-height: 25px;
}
