#uploaded-files-list {
  .file-size,
  .updated-at {
    font-size: smaller;
  }

  tbody {
    .description {
      font-size: smaller;
    }
  }
}

.uploaded-file {
  margin-left: 2em;
  text-align: center;

  i {
    &.external-link {
      font-size: x-small;
      vertical-align: text-top;
    }

    &.file-icon {
      font-size: 3rem;
    }
  }


  img {
    border-color: $info;
    border-style: dotted;
    border-width: thin;
  }
}
