$admin-color: #ff0000;

.is-admin {
  color: $admin-color;
  font-weight: bold;
}

td.is-member {
  .yes {
    background-color: LightGreen;
  }
  .no {
    background-color: LemonChiffon;
  }
}

.panel.admin-set-new-password-form {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}

.form-horizontal.edit-user.admin-set-password {

  padding: 1em;

  .field.form-group {
    margin-left: 0;
  }

}
