@import "shf-custom-colors";
@import "payor";


.is-admin,
.is-admin a {
  color: $is-admin-color;
  font-weight: bold;
}

.login-email {
  font-weight: bold;
}

.panel.admin-set-new-password-form {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}

.form-horizontal.edit-user.admin-set-password {

  padding: 1em;

  .field.form-group {
    margin-left: 0;
  }

  .login-name {
    font-size: larger;
    font-weight: bold;
  }
}


.users {

  table {
    margin-top: 0;
  }

  .admin-only {
    .membership-status-title {
      font-family: 'Crimson Text', serif;
      font-size: 150%;
      //font-weight: bold;
    }
  }
}

#text {
  margin-top: 1rem;
}


.edit_user {
  label.current-password {
    color: $primary;
    font-size: larger;
    font-weight: bold;
  }
}


.entry-header {
  .shf-icon {
    border: 0;
    font-size: 1.5rem;
    vertical-align: super;
  }
}


.steps {
  .step {
    margin-top: 1rem;

    .step-info {
      margin-top: 0;
    }
  }
}


.is-complete{
  color: $checkbox-complete-color;
}
