%footer#colophon.container-fluid.site-footer{role: 'contentinfo'}
  .container-fluid.site-info
    .container
      = t('theme_copyright')
  .footer-social
    %a.facebook{href: 'http://www.facebook.com/sverigeshundforetagare', target: '_blank'}
      = icon('fab', 'facebook-f')
    %a.instagram{href: 'http://www.instagram.com/sverigeshundforetagare', target: '_blank'}
      = icon('fab', 'instagram')
