%footer.container-fluid.site-footer#colophon{ role: 'contentinfo' }
  .footer-social
    %a.facebook{ href: 'http://www.facebook.com/sverigeshundforetagare', target: '_blank' }
      = fa_icon 'facebook-f'
    %a.instagram{ href: 'http://www.instagram.com/sverigeshundforetagare', target: '_blank' }
      = fa_icon 'instagram'
