- if user_signed_in?
  %a.dropdown-toggle.link-no-styling.tall-line{ href: '#',
     'data-toggle' => 'dropdown', role: 'button' }
    = t('hello', name: current_user.first_name)
    %span.caret

  %ul.dropdown-menu
    %li
      = link_to(t('devise.registrations.edit.title'),
                edit_user_registration_path)
    %li
      = link_to(t('devise.sessions.destroy.log_out'),
                destroy_user_session_path, method: :delete)

- else
  = link_to(t('devise.sessions.new.log_in'), new_user_session_path,
            { class: 'tall-line' })
