%li.menu-item.menu-item-has-children
  = link_to t('menus.nav.members.member_pages'), member_pages_path

  = render partial: 'shf_documents/documents_list',
           locals: { ul_class: 'sub-menu', li_class: 'menu-item' }
