%li.menu-item.menu-item-has-children
  = link_to 'Medlemssidor', page_path('index')
  %ul.sub-menu
    - HighVoltage.page_ids.each do |page|
      - unless page == 'index'
        %li.menu-item
          = link_to page.capitalize, page_path(page)