- if (company_count = current_user.companies.count) > 0
  %li.dropdown
    %a.nav-link.dropdown-toggle{ "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#" }
      = t('my_company', count: company_count)

    %ul.dropdown-menu
      - current_user.companies.each do |company|
        %li
          = link_to company.name.present? ? company.name : t('name_missing'),
                    company_path(company), class: 'nav-link'