%li.menu-item
  - if policy(shf_app).update?
    = link_to t('menus.nav.users.my_application'), edit_shf_application_path(shf_app)
  - else
    = link_to t('menus.nav.users.my_application'), shf_application_path(shf_app)
