- if locale == :sv
  = link_to 'English flag', {locale: :en}, class: 'language.en', id: 'change-lang-to-english'
- else
  = link_to 'Swedish flag', {locale: :sv}, class: 'language.sv', id: 'change-lang-to-svenska'
