%header.entry-header
  %h1.entry-title Om Sveriges Hundföretagare
.post-title-divider
  %span
.entry-content
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at velit imperdiet, commodo felis nec, consectetur dui.