.shf-document.show#shf-document

  %header.entry-header
    %h1.entry-title
      = @title
  .entry-content
    - if policy(ShfDocument).contents_update?
      = link_to "#{t('.edit_member_page')}",
                contents_edit_path(page: @page),
                class: 'btn btn-light edit-member-page'

    != @contents
