.shf-document.show#shf-document

  - if policy(ShfDocument).contents_update?
    .item-nav-buttons.pull-right#item-nav-buttons
      = link_to "#{t('.edit_member_page')}",
                contents_edit_path(page: @page),
                class: 'btn btn-light edit-member-page'

  .entry-content
    .clearfix
    .center{ style: 'font-size: 150%;' }
      = @title

    %hr

    != @contents
