.shf-document.new#shf-document-new

  %header.entry-header
    %h1.entry-title= t('.page_title')

  .entry-content

    = render 'form'

  %hr
  .text-center
    = link_to "#{t('shf_documents.all_shf_minutes')}", shf_documents_path, class: 'btn btn-light btn-sm btn-shf-documents-all'
