#signoff
  = render 'email_us'

  %p.signoff= t('application_mailer.shf_application.signoff')

  #signature
    %p.signature= t('application_mailer.shf_application.signature')
    %p.signature_url= t('SHF_name')
