-# A partial layout that can be used for all emails sent from the SHF Membership chair
-#   This will include a line to "send email to the membership chair with any questions..."
-#   at the bottom of the email body.
-#

= yield

= render 'application_mailer/email_us_membership'

